{{ define "title" }}{{ .Site.Title }}{{ end }}
{{ define "main" }}
  {{ with .Site.Params.pinned_articles }}
    {{ if gt (len .) 0 }}
      <h1>Pinned articles</h1>
      {{ $pinned_articles := slice }}

      {{ range . }}
        {{ with $.Site.GetPage (print "/articles" .) }}
          {{ $pinned_articles = $pinned_articles | append . }}
        {{ end }}
      {{ end }}

      {{ partial "articles_list.html" $pinned_articles }}
    {{ end }}
  {{ end }}


  <h1>Recent articles</h1>
  {{ partial "articles_list.html" (first 10 (where .Site.RegularPages "Section" "articles")) }}
{{ end }}
