<ul class="w-full pl-0">
  {{ range . }}
    <li class="flex flex-row text-pretty">
      <div class="flex min-w-fit basis-1/4 flex-row">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-dot-icon lucide-dot"
        >
          <circle cx="12.1" cy="12.1" r="1" />
        </svg>
        <span class="inline-block w-40 text-nowrap">
          {{ .Date | time.Format ":date_medium" }}
        </span>
      </div>
      <div class="flex basis-3/4 flex-col">
        <a href="{{ .RelPermalink }}" class="w-fit">
          {{ .LinkTitle }}
        </a>
        {{ if .Summary }}
          <p>{{ .Summary }}</p>
        {{ end }}
      </div>
    </li>
  {{ end }}
</ul>
