{{ with site.Menus.main }}
  <nav class="flex flex-row items-center space-x-4">
    {{ range . }}
      <a
        class="shortcut-item first-letter:underline first-letter:underline-offset-2 first-letter:decoration-1"
        href="{{ .URL }}"
        aria-current="{{ if eq .URL .Page.RelPermalink }}
          page
        {{ else }}
          false
        {{ end }}"
      >
        {{ .Name }}
      </a>
    {{ end }}


    <form>
      <input
        type="text"
        name="search"
        id="search"
        placeholder="[i] search..."
        class="block min-w-0 rounded-md grow px-3 py-1.5 text-base outline  placeholder:text-gray-400 -outline-offset-1 outline-neutral-500 focus-within:outline focus-within:-outline-offset-2 focus-within:outline-neutral-400 sm:text-sm/6"
      />
    </form>
  </nav>
{{ end }}
