{{ $type := .Get "type" | default "note" }}
{{ if eq $type "note" }}
  <div
    class="my-4 flex flex-col space-y-4 border-l-4 border-[#1F6FEB] px-4 py-2"
  >
    <div class="flex flex-row items-center space-x-2 text-[#4493F8]">
      <i data-lucide="info"></i>
      <p class="my-0 font-bold">{{ $type }}</p>
    </div>

    <p class="my-0">{{ .Inner | .Page.RenderString }}</p>
  </div>
{{ else if eq $type "tip" }}
  <div
    class="my-4 flex flex-col space-y-4 border-l-4 border-[#238636] px-4 py-2"
  >
    <div class="flex flex-row items-center space-x-2 text-[#39A749]">
      <i data-lucide="lightbulb"></i>
      <p class="my-0 font-bold">{{ $type }}</p>
    </div>

    <p class="my-0">{{ .Inner | .Page.RenderString }}</p>
  </div>
{{ else if eq $type "important" }}
  <div
    class="my-4 flex flex-col space-y-4 border-l-4 border-[#8957E5] px-4 py-2"
  >
    <div class="flex flex-row items-center space-x-2 text-[#AB7DF8]">
      <i data-lucide="message-square-warning"></i>
      <p class="my-0 font-bold">{{ $type }}</p>
    </div>

    <p class="my-0">{{ .Inner | .Page.RenderString }}</p>
  </div>
{{ else if eq $type "warning" }}
  <div
    class="my-4 flex flex-col space-y-4 border-l-4 border-[#9E6A03] px-4 py-2"
  >
    <div class="flex flex-row items-center space-x-2 text-[#96701D]">
      <i data-lucide="triangle-alert"></i>
      <p class="my-0 font-bold">{{ $type }}</p>
    </div>

    <p class="my-0">{{ .Inner | .Page.RenderString }}</p>
  </div>
{{ else if eq $type "caution" }}
  <div
    class="my-4 flex flex-col space-y-4 border-l-4 border-[#DA3633] px-4 py-2"
  >
    <div class="flex flex-row items-center space-x-2 text-[#CD453F]">
      <i data-lucide="triangle-alert"></i>
      <p class="my-0 font-bold">{{ $type }}</p>
    </div>

    <p class="my-0">{{ .Inner | .Page.RenderString }}</p>
  </div>
{{ else }}
  Invalid box
{{ end }}
